<!doctype html>
<html lang="en">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>jQuery图片横向滚动抽奖代码 - 站长素材</title>

<link rel="stylesheet" type="text/css" href="res/lottery.css" />
<script
  type="text/javascript"
  src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"
></script>
<style>
	button{display:block;background-color:#fff;font-size:30px;}
    ul li span{width:132px;display:inline-block;}
</style>
</head>

<body>

<div id="wrapper">
    <div id="lottery">
        <!-- <div id="lottery-hero">
            <img src="pic/" alt="" style="display:none" />
        </div> -->

        <div id="lottery-container">
            <ul>
                <!-- <li><img src="pic/1.png"></li>
                <li><img src="pic/2.png"></li>
                <li><img src="pic/3.png"></li>
                <li><img src="pic/4.png"></li>
                <li><img src="pic/5.png"></li>
                <li><img src="pic/1.png"></li>
                <li><img src="pic/2.png"></li>
                <li><img src="pic/3.png"></li>
                <li><img src="pic/4.png"></li>
                <li><img src="pic/5.png"></li> -->
                <li v-for="(item,index) in lotteryList" :key="index" v-if="index<7">
                    <span>{{item.realname}}</span>
                </li>
            </ul>
        </div>
        <div id="lottery-control">
            <!-- <a href="#" onclick="Lottery.start()">开始</a> -->
            <!-- <a href="#" onclick="Lottery.stop()">停止</a> -->
            <a href="#" @click="start">开始</a>
            <a href="#" @click="stop">停止</a>
        </div>
        <div id="lottery-selected"></div>
    </div>
</div>

<script type="text/javascript" src="res/jquery-1.9.0.min.js"></script>
<!-- <script src="plugins/mock.js"></script> -->
<!-- <script src="plugins/scroll-lottery.js"></script> -->
<script src="plugins/vue.min.js"></script>
<script src="plugins/vue-resource.min.js"></script>
<!-- <script type="text/javascript" src="res/lottery.js"></script> -->
<script>

	$(function(){

        let  timer = null, //setTinerval对象
             itemWidth = 142, //列表项单项宽度
             itemCount = 0, //列表总数（不包括复制并插入的节点)
             curPos = 0 , //ul列表容器left值
             $content, //所有列表项的容器
             $item; //列表单项
             // $hero; 

        // 初始化
        let init = function() {
            itemCount       = $item.size(); //单项大小
            $content.append($content.html()); //复制所有列表项插入至$content的后面（如列表项是5条，则复制后就是10条);
          };

		new Vue({
			el:"#lottery",
			data:{
				lotteryList:[],
                first:true
			},
			created:function(){
              let _this = this;
                this.$http.get("https://api.qhhznt.com/index.php/shop/active/get_all_card").then(function(res){

                    _this.lotteryList = res.data.data;
                    // console.log(res.data.data,"success")

                }).catch(function(err){

                    console.log(err,"error");
                });
			},
			mounted:function(){
                
                let _this = this;
                // _this.init();

			},
			methods:{
				init:function(){
                    $content        = $("#lottery-container ul"), //所有列表项的容器
                    $item          = $("#lottery-container ul li"); //列表单项
                    itemCount       = $item.size(); //单项大小
                    $content.append($content.html()); //复制所有列表项插入至$content的后面（如列表项是5条，则复制后就是10条);
                },
                start:function(){
                    let _this = this;

                    clearInterval(timer);

                    if(_this.first){
                        _this.init();
                        _this.first = false;
                        console.log("djfkdjfkd") ;
                    }

                    timer = setInterval(function() {

                      curPos = parseInt($content.css("left")) | 0; //列表项容器left值
                      curPos -= itemWidth / 2; //每次想左滑动itemWidth/2的距离，设置left值实现左滑动效果

                      //列表有2组，当curPos< 0-(一组列表总宽度)，curPos=0,实现无缝滑动,
                      // 当第2组列表项刚好进入可是区域,也就是第2组列表项第一项左边距是0时(ul的left= -itemWidth * itemCount)，
                      // 将第一组列表的左边距设置0（此时就是ul的left=0）
                      (curPos < 0 - itemWidth * itemCount) && (curPos = 0); 

                      $content.css("left", curPos);

                    }, 50);

                },
                stop:function(){

                    clearInterval(timer);
                    timer = null;

                    (curPos % itemWidth == 0 - itemWidth / 2) && (curPos = curPos - itemWidth / 2);

                    // var selected  = _this.getCurIdx();

                    // _this.setCurIdx(selected);
                },
                setCurIdx:function(){
                    curPos = (0 - idx) * itemWidth;

                    var $items = $("#lottery li img"),
                        imgUrl = $items.eq(idx + 3).attr("src");

                    $content.css("left", curPos);
                    // $hero.attr("src", imgUrl).show("slow");

                    console.log(curPos, idx);
                },
                getCurIdx:function(){
                    return (0 - curPos) / itemWidth;
                }
			}
		})



    })
	
</script>
</div>
</body>
</html>

